<section class="adertisement" id="adertisement">
    <div class="container">
        <div class="adertisement-container">
            <h2 class="visually-hidden">Advertisement</h2>
            <p class="adertisement-text">
                Choose <span class="adertisement-text-color">your story</span>, making
                every moment unique. Time is your style, and we reveal it.
            </p>
            <a href="#contact-us" class="adertisement-btn">Contact Us</a>
        </div>
    </div>
</section>