<section class="catalog" id="catalog">
    <div class="container">
        <div class="catalog-container">
            <h2 class="catalog-title">Catalog</h2>
            <ul class="catalog-blocks">
                <li class="catalog-item">
                    <picture class="catalog-item-img">
                        <source srcset="./img/sale/Garmin-Fenix-7x-desktop.png" media="(min-width: 1280px)" />
                        <source srcset="
                                ./img/sale/Garmin-Fenix-7x-tablet.png" media="(min-width: 768px)" />
                        <source srcset="
                                ./img/sale/Garmin-Fenix-7x-mobile.png" media="(max-width: 767px)" />
                        <img src="./imgs/sale/Garmin-Fenix-7x-tablet.png" alt="Garmin-Fenix-7x">
                    </picture>
                    <div class="catalog-item-text">
                        <a class="catalog-item-title mobile-ctl">Garmin Fenix 7X Pro Sapphire Solar</a>
                        <a class="catalog-item-title tablet-ctl">Garmin Fenix 7X Pro Sapphire...</a>
                        <a class="catalog-item-title desktop-ctl">Garmin Fenix 7X Pro Sapphire Sol...</a>
                        <p class="catalog-item-price">€500</p>
                    </div>
                </li>
                <li class="catalog-item">
                    <picture class="catalog-item-img">
                        <source srcset="./img/sale/Garmin-Marq-desktop.png" media="(min-width: 1280px)" />
                        <source srcset="
                                ./img/sale/Garmin-Marq-tablet.png" media="(min-width: 768px)" />
                        <source srcset="
                                ./img/sale/Garmin-Marq-mobile.png" media="(max-width: 767px)" />
                        <img src="./img/sale/Garmin-Marq-tablet.png" alt="Garmin-Marq">
                    </picture>
                    <div class="catalog-item-text">
                        <a class="catalog-item-title">Garmin Marq Athlete</a>
                        <p class="catalog-item-price">€450</p>
                    </div>
                </li>
                <li class="catalog-item">
                    <picture class="catalog-item-img">
                        <source srcset="./img/sale/Garmin-Descent-desktop.png" media="(min-width: 1280px)" />
                        <source srcset="
                                ./img/sale/Garmin-Descent-tablet.png" media="(min-width: 768px)" />
                        <source srcset="
                                ./img/sale/Garmin-Descent-mobile.png" media="(max-width: 767px)" />
                        <img src="./img/sale/Garmin-Descent-tablet.png" alt="Garmin-Descent">
                    </picture>
                    <div class="catalog-item-text">
                        <a class="catalog-item-title">Garmin Descent MK1</a>
                        <p class="catalog-item-price">€680</p>
                    </div>
                </li>
                <li class="catalog-item mr-0">
                    <picture class="catalog-item-img ">
                        <source srcset="./img/sale/Garmin-D2-desktop.png" media="(min-width: 1280px)" />
                        <source srcset="
                                ./img/sale/Garmin-D2-tablet.png" media="(min-width: 768px)" />
                        <source srcset="
                                ./img/sale/Garmin-D2-mobile.png" media="(max-width: 767px)" />
                        <img src="./img/sale/Garmin-D2-tablet.png" alt="Garmin-D2">
                    </picture>
                    <div class="catalog-item-text">
                        <a class="catalog-item-title">Garmin D2 Delta PX</a>
                        <p class="catalog-item-price">€380</p>
                    </div>
                </li>
                <li class="catalog-item x6">
                    <picture class="catalog-item-img">
                        <source srcset="./img/sale/Garmin-Fenix-6-desktop.png" media="(min-width: 1280px)" />
                        <source srcset="
                                ./img/sale/Garmin-Fenix-6-tablet.png" media="(min-width: 768px)" />
                        <img src="./img/sale/Garmin-Fenix-6-tablet.png" alt="Garmin-Fenix-6">
                    </picture>
                    <div class="catalog-item-text">
                        <a class="catalog-item-title">Garmin Fenix 6 Pro Solar</a>
                        <p class="catalog-item-price">€400</p>
                    </div>
                </li>
                <li class="catalog-item x6">
                    <picture class="catalog-item-img">
                        <source srcset="./img/sale/Tube-Watch-desktop.png" media="(min-width: 1280px)" />
                        <source srcset="
                                ./img/sale/Tube-Watch-tablet.png" media="(min-width: 768px)" />
                        <img src="./img/sale/Tube-Watch-tablet.png" alt="Tube-Watch">
                    </picture>
                    <div class="catalog-item-text">
                        <a class="catalog-item-title tablet-ctl">Tube Watch S42 Date Steel W...</a>
                        <a class="catalog-item-title desktop-ctl">Tube Watch S42 Date Steel With...</a>
                        <p class="catalog-item-price">€395</p>
                    </div>
                </li>
            </ul>
            <button class="catalog-button">Show more</button>
        </div>
    </div>
</section>