<section  class="section">
    <div class="container">
        <h2 id="contact-us" class="contact-title">Contact Us</h2>
        <div class="contact-input-img">
            <div class="contact-input">
                <p class="text-input">Please use the form below to contact us. Enter your name, email, phone, and
                    message and we'll get back to you shortly.</p>
                <div class="input-field">
                    <form class="contact-form">
                        <input class="contact-form-input" type="text" placeholder="Name">
                        <input class="contact-form-input" type="email" placeholder="Email">
                        <input class="contact-form-input" type="tel" placeholder="+380">
                        <input class="contact-form-input comment" type="text" placeholder="Comment">
                    </form>
                    <button class="button">Send</button>
                </div>
            </div>
            <picture class="contact-picture">
                <source srcset="./img/contact-us/contact-us-desktop.jpg 1x, ./img/contact-us/contact-us-desktop-2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./img/contact-us/contact-us-tablet.jpg 1x, ./img/contact-us/contact-us-tablet-2x.jpg 2x"
                    media="(min-width: 768px)" />
                <source srcset="./img/contact-us/contact-us-mobile.jpg 1x, ./img/contact-us/contact-us-mobile-2x.jpg 2x"
                    media="(max-width: 767px)" />
                <img class="contact-item-img" src="./img/contact-us/contact-us/contact-us-mobile.png"
                alt="watches">
            </picture>
        </div>
    </div>
</section>