<section class="section">
    <div class="container">
        <h2 class="contact-title">Contact Us</h2>
        <div class="contact-input-img">
            <div class="contact-input">
                <p class="text-input">Please use the form below to contact us. Enter your name, email, phone, and
                    message and we'll get back to you shortly.</p>
                <div class="input-field">
                    <form class="contact-form">
                        <input class="contact-form-input" type="text" placeholder="Name">
                        <input class="contact-form-input" type="email" placeholder="Email">
                        <input class="contact-form-input" type="tel" placeholder="+380">
                        <input class="contact-form-input comment" type="text" placeholder="Comment">
                    </form>
                    <button class="button">Send</button>
                </div>
            </div>
            <img class="contact-item-img" srcset="./img/contact-us/watches-contact-us.png 1x,
                ./img/contact-us/watches-contact-us.png 2x" src="./img/contact-us/watches-contact-us.png"
                alt="watches">
        </div>
    </div>
</section>