<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo-header" href="../index.html">watchcharm</a>
      <button type="button" class="header-menu-btn">
        <svg class="header-menu-icon" width="34" height="34">
          <use href="/public/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-link"><a class="current" href="#hero">Home</a></li>
        <li class="nav-link"><a href="#about-us">About Us</a></li>
        <li class="nav-link"><a href="#catalog">Catalog</a></li>
        <li class="nav-link"><a href="#sale">Sale</a></li>
        <li class="nav-link"><a href="#reviews">Reviews</a></li>
        <li class="nav-link"><a href="#contact-us">Contact Us</a></li>
      </ul>
      <ul class="header-socials-list desktop">
        <li class="header-socials-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-socials-link"
            target="_blank"
          >
            <svg class="header-socials-icon" width="18" height="18">
              <use href="/public/icons.svg#icon-facebook-black"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-socials-link"
            target="_blank"
          >
            <svg class="header-socials-icon" width="18" height="18">
              <use href="/public/icons.svg#icon-instagram-black"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-socials-link"
            target="_blank"
          >
            <svg class="header-socials-icon" width="18" height="18">
              <use href="/public/icons.svg#icon-youtube-black"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <hr class="header-hr" />
  </div>
  <div class="menu-overlay">
    <div class="menu">
      <button class="menu-close-btn">
        <svg class="menu-close-icon" width="34" height="34">
          <use href="/public/icons.svg#icon-close-menu"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="nav-blocks">
          <li class="nav-item">
            <a class="nav-link current" href="#header">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#catalog">Catalog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sale">Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="menu-socials">
        <ul class="social-list">
          <li class="social-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="social-list-link"
              target="_blank"
            >
              <svg class="icon-social" width="18" height="18">
                <use href="/public/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="social-list-link"
              target="_blank"
            >
              <svg class="icon-social" width="18" height="18">
                <use href="/public/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="social-list-link"
              target="_blank"
            >
              <svg class="icon-social" width="18" height="18">
                <use href="/public/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
