
<section class="hero">
    <div class="container">
        <div class="hero-container">
            <div class="hero-first-wrapper">
                <div class="hero-text-wrapper">
                    <h1 class="hero-title">
                        Welcome to our <span class="styled">collection</span> of premium watches
                    </h1>
                    <p class="hero-text">
                        Our watches are not just timepieces, but also an expression of your
                        personality and lifestyle. From classic designs to modern ones, we have
                        a watch to suit every taste and occasion.
                    </p>
                </div>
                <div class="hero-link-wrapper">
                    <picture class="hero-link-picture">
                        <source srcset="
                    ./img/hero/hero-img-1-desktop.png     1x,
                    ./img/hero/hero-img-1-desktop-@2x.png 2x
                " media="(min-width: 1280px)" />
                        <source srcset="
                    ./img/hero/hero-img-1-tab.png     1x,
                    ./img/hero/hero-img-1-tab-@2x.png 2x
                " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/hero/hero-img-1-mobile.png     1x,
                    ./img/hero/hero-img-1-mobile-@2x.png 2x
                " media="(max-width: 767px)" />
                        <img src="./img/hero/hero-img-1-mobile.png" class="hero-team-picture" alt="three team members" />
                    </picture>
                    <a href="#footer" class="hero-scroll-link">Scroll down</a>
                </div>
            </div>
            <!-- <div class="hero-second-wrapper"> -->
            <picture class="hero-second-picture">
                <source srcset="
                ./img/hero/hero-img-2-desk.png     1x,
                ./img/hero/hero-img-2-desk-@2x.png 2x
            " media="(min-width: 1280px)" />
                <source srcset="
                ./img/hero/hero-img-2-tab.png     1x,
                ./img/hero/hero-img-2-tab-@2x.png 2x
            " media="(min-width: 768px)" />
                <source srcset="
                ./img/hero/hero-img-2-mobile.png     1x,
                ./img/hero/hero-img-2-mobile-@2x.png 2x
            " media="(max-width: 767px)" />
                <img src="./img/hero/hero-img-2-mobile.png" alt="black watch" />
            </picture>
            <!-- </div> -->
        </div>
    </div>
</section>