<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="reviews-container">
            <ul class="reviews-blocks">
                <li class="reviews-item">
                    <img class="reviews-item-img" srcset="./img/reviews/John-Wax.png 1x,
                            ./img/reviews/John-Wax-2x.png 2x" src="./img/reviews/John-Wax.png" alt="John-Wax">
                    <h3 class="reviews-item-title">John Wax</h3>
                    <p class="reviews-item-text">
                        Buying a watch from was the best choice for me. The design is perfectly combined with high
                        quality materials. The strap
                        fits nicely on the hand, and the mechanism works flawlessly.
                    </p>
                </li>
                <li class="reviews-item tablet">
                    <img class="reviews-item-img" srcset="./img/reviews/Victoria-Romashenko.png 1x,
                            ./img/reviews/Victoria-Romashenko-2x.png 2x" src="./img/reviews/Victoria-Romashenko.png"
                        alt="Victoria-Romashenko">
                    <h3 class="reviews-item-title">Victoria Romashenko</h3>
                    <p class="reviews-item-text">
                        Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me.
                        The build quality and
                        attention to detail make it a real gem among my accessories.
                    </p>
                </li>
                <li class="reviews-item desktop">
                    <img class="reviews-item-img" srcset="./img/reviews/Anastasia-Trachuk.png 1x,
                            ./img/reviews/Anastasia-Trachuk-2x.png 2x" src="./img/reviews/Anastasia-Trachuk.png"
                        alt="Anastasia-Trachuk">
                    <h3 class="reviews-item-title">Anastasia Trachuk</h3>
                    <p class="reviews-item-text">
                        My watch from is a real masterpiece. Every detail impresses with the high quality of execution.
                        Special features like
                        [specify features] make it an indispensable companion in my daily life.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>