<section class="sale">
    <div class="container">
        <h2 id="sale" class="sale-title">Sale</h2>
        <div class="sale-container">
            <div class="sale-min-wrap">
                <ul class="sale-gallery">
                    <li class="sale-gallery-minwatch">
                        <picture class="sale-gallery-image">
                            <source srcset="./img/sale-new/watch-1.png 1x, ./img/sale-new/watch-1-2x.png 2x" media="(min-width: 768px)">
                            <source srcset="./img/sale-new/watch-1-mob.png 1x, ./img/sale-new/watch-1-mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="../img/sale-new/watch-1.png" alt="Watch catalog" class="sale-img"/>
                          </picture>
                    </li>
                    <li class="sale-gallery-minwatch">
                        <picture class="sale-gallery-image">
                            <source srcset="./img/sale-new/watch-2.png 1x, ./img/sale-new/watch-2-2x.png 2x" media="(min-width: 768px)">
                            <source srcset="./img/sale-new/watch-2-mob.png 1x, ./img/sale-new/watch-2-mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="../img/sale-new/watch-2.png"  alt="Watch catalog" class="sale-img"/>
                          </picture>
                    </li>
                    <li class="sale-gallery-minwatch">
                        <picture class="sale-gallery-image">
                            <source srcset="./img/sale-new/watch-3.png 1x, ./img/sale-new/watch-3-2x.png 2x" media="(min-width: 768px)">
                            <source srcset="./img/sale-new/watch-3-mob.png 1x, ./img/sale-new/watch-3-mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="./img/sale-new/watch-3.png"  alt="Watch catalog" class="sale-img"/>
                          </picture>
                    </li>
                    <li class="sale-gallery-minwatch">
                        <picture class="sale-gallery-image">
                            <source srcset="./img/sale-new/watch-4.png 1x, ./img/sale-new/watch-4-2x.png 2x" media="(min-width: 768px)">
                            <source srcset="./img/sale-new/watch-4-mob.png 1x, ./img/sale-new/watch-4-mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="./img/sale-new/watch-4.png" alt="Watch catalog" class="sale-img"/>
                          </picture>
                    </li>
                </ul>
            </div>
            <div class="sale-big-img">
                <picture>
                     <source srcset="./img/sale-new/bigwatch-mob.png 1x, ./img/sale-new/bigwatch-mob-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="./img/sale-new/bigwatch.png 1x, ./img/sale-new/bigwatch-2x.png 2x" media="(min-width: 768px)">
                   
                    <img src="./img/sale-new/bigwatch.png" alt="Watch catalog" class="sale-img"/>
                </picture>
            </div>
            <div class="sale-content">
                    <h3 class="sale-content-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                    <p class="sale-content-tag">Product tag: 706587</p>
                    
                    <div class="sale-prices">
                        <p class="sale-price-new">€1500</p>
                        <p class="sale-price-old">€3000</p>
                    </div>
                                         
                    <p class="sale-content-text">The Garmin MARQ Commander Gen 2 Carbon 
                        Edition is a modern smartwatch for adventurers that takes materials 
                        and features to the next level. The body of the watch is made of very 
                        durable Fused Carbon Fiber material and has a precise AMOLED touch screen. 
                        The sensitive touch screen is complemented by buttons that can be used 
                        in any conditions. 
                    </p>
                    
                    <ul class="sale-content-btn">
                        <li class="sale-btn">
                            <a href="#" class="sale-btn-link">Fused carbon fiber</a>
                        </li>
                        <li class="sale-btn">
                            <a href="#" class="sale-btn-link">Grade-5 Titanuim</a>
                        </li>
                        <li class="sale-btn">
                            <a href="#" class="sale-btn-link">Athlete</a>
                        </li>
                         <li class="sale-btn">
                            <a href="#" class="sale-btn-link">Golfer</a>
                        </li>
                        <li class="sale-btn">
                            <a href="#" class="sale-btn-link">Commander</a>
                        </li>
                        <li class="sale-btn">
                            <a href="#" class="sale-btn-link">Adventurer</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</section>