<section class="sale">
    <div class="container">
        <div id="sale" class="sale-container">
            <h2 id="sale" class="sale-titel">Sale</h2>
            <ul class="sale-list">
                <li class="sale-list-item">
                    <picture>
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-1-tablet.png 1x, ./img/sale/sub-watch-1-tablet-2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-1-tablet.png 1x, ./img/sale/sub-watch-1-tablet-2x.png 2x"
                            media="(min-width: 768px)" />
                        <source class="sale-img-mobile"
                            srcset="./img/sale/sub-watch-1-mobile.png 1x, ./img/sale/sub-watch-1-mobile-2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale/sub-watch-1-tablet.png" alt="watch" class="sale-img" />
                    </picture>
                </li>
                <li class="sale-list-item">
                    <picture class="sale-list-item">
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-2-tablet.png 1x, ./img/sale/sub-watch-2-tablet-2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-2-tablet.png 1x, ./img/sale/sub-watch-2-tablet-2x.png 2x"
                            media="(min-width: 768px)" />
                        <source class="sale-img-mobile"
                            srcset="./img/sale/sub-watch-2-mobile.png 1x, ./img/sale/sub-watch-2-mobile-2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale/sub-watch-2-tablet.png" alt="watch" class="sale-img" />
                    </picture>
                </li>
                <li class="sale-list-item">
                    <picture class="sale-list-item">
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-3-tablet.png 1x, ./img/sale/sub-watch-3-tablet-2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-3-tablet.png 1x, ./img/sale/sub-watch-3-tablet-2x.png 2x"
                            media="(min-width: 768px)" />
                        <source class="sale-img-mobile"
                            srcset="./img/sale/sub-watch-3-mobile.png 1x, ./img/sale/sub-watch-3-mobile-2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale/sub-watch-3-tablet.png" alt="watch" class="sale-img" />
                    </picture>
                </li>
                <li class="sale-list-item">
                    <picture class="sale-list-item">
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-4-tablet.png 1x, ./img/sale/sub-watch-4-tablet-2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source class="sale-img-tablet"
                            srcset="./img/sale/sub-watch-4-tablet.png 1x, ./img/sale/sub-watch-4-tablet-2x.png 2x"
                            media="(min-width: 768px)" />
                        <source class="sale-img-mobile"
                            srcset="./img/sale/sub-watch-4-mobile.png 1x, ./img/sale/sub-watch-4-mobile-2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale/sub-watch-4-tablet.png" alt="watch" class="sale-img" />
                    </picture>
                </li>
            </ul>
            <picture class="sale-list-item">
                <source class="sale-img-desktop"
                    srcset="./img/sale/main-watch-tablet.png 1x, ./img/sale//main-watch-tablet-2x.png 2x"
                    media="(min-width: 1280px)" />
                <source class="sale-img-tablet"
                    srcset="./img/sale//main-watch-tablet.png 1x, ./img/sale//main-watch-tablet-2x.png 2x"
                    media="(min-width: 768px)" />
                <source class="sale-img-mobile"
                    srcset="./img/sale/main-watch-mobile.png 1x, ./img/sale//main-watch-mobile-2x.png 2x"
                    media="(max-width: 767px)" />
                <img src="./img/sale//main-watch-tablet.png" alt="watch" class="sale-img" />
            </picture>
            <div class="description">
                <h3 class="description-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                <p class="description-pr-tag">Product tag: 706587</p>
                <div class="description-price">
                    <p class="description-discount">€1500</p>
                    <p class="description-main">€3000</p>
                </div>
                <p class="description-text">
                    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes
                    materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has
                    a precise AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any
                    conditions.
                </p>
                <div class="description-tags">
                    <p class="description-tags-item">Fused carbon fiber</p>
                    <p class="description-tags-item">Grade-5 Titanuim</p>
                    <p class="description-tags-item">Athlete</p>
                    <p class="description-tags-item">Golfer</p>
                    <p class="description-tags-item">Commander</p>
                    <p class="description-tags-item">Adventurer</p>
                </div>
            </div>
        </div>

    </div>

</section>