.aboutus {
    margin-top: 60px;
    margin-bottom: 60px;
}

.aboutus-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 } 

.aboutus-content {
    width: 335px;
    background-color: #f3f3f3;
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto 0;
}

.aboutus-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
    padding-left: 20px;
}

.aboutus-list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutus-item {
    max-width: 295px;  
}
.aboutus-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(12, 12, 12, 0.7);
}

.aboutus-image-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    background-color: #3350e9;;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    width: 160px;
    height: 48px;
    display: block;
    min-width: 160px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus-image-btn:hover,
.aboutus-image-btn:focus {
    background-color: #1f3cd4;;
}

.aboutus-wrap {
    max-width: 335px;
}

.aboutus-img {
    
}




@media screen and (min-width: 768px) {
    .aboutus {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .aboutus-container {
        gap: 40px;
    } 

    .aboutus-content {
        width: 704px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .aboutus-title {
        font-size: 48px;
        line-height: 0.91667;
        margin-bottom: 40px;
        padding-left: 60px;
    }

    .aboutus-item {
        max-width: 584px;  
    }

    .aboutus-item-text {
        font-size: 16px;
        line-height: 1.25;
    }

    .aboutus-list {
        margin-bottom: 60px;
        padding-left: 60px;
    }

    .aboutus-wrap {
        max-width: 704px;
    }

    .aboutus-image-btn{
        margin-left: 60px;
    }
} 




@media screen and (min-width: 1280px) {

    .aboutus {
        margin-top: 100px;
        margin-bottom: 100px;
    }

     .aboutus-container {
        flex-direction: row;
    } 

    .aboutus-content {
       width: 580px; 
       padding-top: 89px;
    }
   
    .aboutus-list {
        margin-bottom: 31px;
        padding-left: 60px;
    }

    .aboutus-item {
        max-width: 460px;  
    }
}