.advertisement {
  border-radius: 30px;
  background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),  url(/img/advertisement/advertisement-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 30px auto;
    max-width: 335px;
}

@media (min-resolution: 192dpi) {
    .advertisement {
        background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),  url(/img/advertisement/advertisement-bg-mobile-2x.jpg);
    }
}

.advertisement-container {
    margin-left: -20px;
    padding: 60px 28px;
}

.advertisement-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 279px;
  max-height: 167px;
  text-align:left;
  padding-bottom: 28px;
}

.advertisement-text-color {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-btn {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.1);
  background-color: transparent;
  color: #fbfbfb;
  border-radius: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  width: 162px;
  height: 48px;
  padding: 15px 43px 15px 44px;
}

.advertisement-btn:focus {
  background-color:  #fbfbfb;
  color: #0c0c0c;
}

.advertisement-btn:hover {
  background-color:  #fbfbfb;
  color: #0c0c0c;
}

@media screen and (min-width: 768px) {

    .advertisement {
        max-width: 704px;
        background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),  url(/img/advertisement/advertisement-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media (min-resolution: 192dpi) {
    .advertisement {
        background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),  url(/img/advertisement/advertisement-bg-tablet-2x.jpg);
    }
}

    .advertisement-container{
        margin-left: -32px;
        padding: 80px 64px;
    }

    .advertisement-text {
        min-width: 576px;
        font-size: 48px;
        line-height: 92%;
        padding-bottom: 32px;
    }

}

@media screen and (min-width: 1280px) {
    
    .advertisement {
        max-width: 1150px;
        max-height: 298px;
        background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),  url(/img/advertisement/advertisement-bg-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media (min-resolution: 192dpi) {
        .advertisement {
            background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),  url(/img/advertisement/advertisement-bg-desktop-2x.jpg);
        }
    }

    .advertisement-container{
        margin-left: -65px;
        padding: 83px 80px;
        display: flex;
    }

    .advertisement-text {
        min-width: 690px;
        padding-right: 140px;
    }

}