.contact-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.contact-input-img {
  display: flex;
  flex-wrap: wrap;
  width:335px;
  margin: 0 auto;
}

.contact-input {
  background-color: #f3f3f3;
  border-radius: 50px;
  padding: 48px 28px;
  margin-right: 0;
}

.text-input {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 28px 0;
  gap: 18px;
}

/* input */

.contact-form-input {
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  font-size: 14px;
  font-weight: 400;
  line-height: 129%;
  color: #0c0c0c;
  width: calc(100% - 36px);
  height: 18px;
}

.contact-item-img {
  border-radius: 50px;
}

.button {
  background-color: #3350e9;
  padding: 17px 63px;
  border-radius: 16px;
  border: none;
  color: white;
  cursor: pointer;
}
.contact-title {
    font-size: 32px;
    margin-left: 20px;
  }

  .contact-item-img {
    width: 100%;
    margin-top: 20px;
  }

  .button {
    padding: 12px 50px ;
  }

  .comment {
    padding-bottom: 54px;
  }

@media screen and (min-width: 375px) {
  
}

@media screen and (min-width: 768px) {
  .contact-input-img {
    flex-direction: column;
    margin: 40px 32px 0;
  }

  .contact-title {
    margin-left: 30px;
  }

  .contact-input {
    margin-right: 0;
  }

  .contact-item-img {
    margin-right: 0;
    margin-top: 20px;
  }
  
}

@media screen and (min-width: 1280px) {

}