.footer-container {
  max-width: 335px;
  padding: 40px 28px 28px 28px;
  border-radius: 30px;
  background-color: #0c0c0c;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-first-wrapper {
  margin-bottom: 92px;
}

.footer-logo {
  display: block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.footer-socials-list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
}

.footer-socials-icon {
  width: 20px;
  height: 20px;
  fill: #fbfbfb;
  opacity: 0.8;
}

.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
  margin-bottom: 40px;
}

.footer-contacts-tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 279px;
}

.footer-hr {
  border: 1px solid rgba(251, 251, 251, 0.1);
  margin-bottom: 24px;
}

.footer-second-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.footer-nav-list {
  display: flex;
  max-width: 147px;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
}

.footer-nav-item {
  position: relative;
  display: block;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #fbfbfb;
}

.footer-adress {
  max-width: 83px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

.copyright {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
  margin-bottom: 8px;
}

.footer-links-wrapper {
  display: flex;
  gap: 20px;
}
.terms-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}

.policy-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .footer-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  hr {
    margin-bottom: 28px;
  }

  .footer-container {
    margin-bottom: 32px;
    max-width: 704px;
    padding: 40px 40px 28px 40px;
    margin-top: 80px;
  }

  .footer-first-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 86px;
    margin-bottom: 100px;
    justify-content: space-between;
  }

  .logo-socials-container {
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-socials-list {
    margin-bottom: 0;
  }

  .footer-socials-link {
    width: 36px;
    height: 36px;
  }

  .footer-socials-link:hover .footer-socials-icon,
  .footer-socials-link:focus .footer-socials-icon,
  .footer-socials-link:active .footer-socials-icon {
    opacity: 1;
  }

  .footer-socials-icon {
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-contacts {
    width: 160px;
    height: 48px;
    margin-bottom: 0;
  }

  .footer-contacts-tel {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-text {
    flex: 0 0 100%;
    max-width: 523px;
    font-size: 28px;
    line-height: 1.14;
    margin: 0 auto;
  }

  .footer-second-wrapper {
    /* gap: 62px; */
    margin-bottom: 28px;
  }

  .footer-nav-list {
    flex-wrap: nowrap;
    max-width: 400px;
    gap: 19px;
  }

  .footer-nav-link {
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
  }
  .footer-adress {
    max-width: 166px;
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-third-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    display: inline;
    max-width: 261px;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 0;
    float: left;
  }

  .footer-links-wrapper {
    display: inline-flex;
    flex-direction: row;
  }

  .terms-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .policy-link {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1216px;
    margin-top: 100px;
    margin-bottom: 32px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .footer-first-wrapper {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 126px;
  }

  .footer-contacts {
    order: 2;
  }
}
