.header {
  border-bottom: 1px rgba(12, 12, 12, 0.1);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-header {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  width: 34px;
  height: 34px;
  padding: 0;
}

.header-menu-icon {
  stroke: #0c0c0c;
  width: 34px;
  height: 34px;
}

.nav-list {
  display: none;
}

.header-hr {
  position: absolute;
  left: 0;
  color: rgba(12, 12, 12, 0.1);
  width: 100%;
  height: 1px;
  margin: 0;
}

.menu-overlay {
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 200px;
  background-image: url(/img/header/header-menu-bg.jpg);
  transform: translateX(-100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-close-btn {
  border: none;
  background: transparent;
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 34px;
  height: 34px;
  padding: 0;
}

@media (min-resolution: 192dpi) {
  .menu-overlay {
    height: 100vh;
    background-image: url(/img/header/header-menu-bg-2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.nav-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  margin-top: 240px;
}

.menu-socials {
  padding-bottom: 40px;
}

.social-list {
  display: flex;
  gap: 10px;
  max-width: 122px;
  margin: auto;
}

.social-list-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.social-list-link:hover .icon-social,
.social-list-link:focus .icon-social,
.social-list-link:active .icon-social {
  opacity: 1;
}

.icon-social {
  fill: #fbfbfb;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
}

.current::after {
  content: '';
  width: 8px;
  position: absolute;
  left: 15px;
  bottom: -10px;
  height: 8px;
  background-color: #404bbf;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: none;
  }

  .menu-overlay {
    width: 330px;
    height: 1024px;
    background-image: url(/img/header/header-menu-bg-tablet.jpg);
  }

  @media (min-resolution: 192dpi) {
    .menu-overlay {
      background-image: url(/img/header/header-menu-bg-tablet-2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .menu-close-btn {
    width: 40px;
    height: 40px;
    top: 26px;
    right: 32px;
  }

  .menu-close-icon {
    width: 40px;
    height: 40px;
  }

  .nav-blocks {
    gap: 32px;
    margin-top: 310px;
  }

  .menu-socials {
    padding-bottom: 50px;
  }

  .social-list {
    max-width: 128px;
  }

  .social-list-link {
    width: 36px;
    height: 36px;
  }

  .icon-social {
    width: 20px;
    height: 20px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    padding: 26px 0 26px 0;
  }

  .logo-header {
    font-size: 20px;
  }

  .header-menu-btn {
    width: 40px;
    height: 40px;
  }

  .header-menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header-menu-btn {
    display: none;
  }

  .menu-overlay {
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: calc(100% - 119px);
    width: 330px;
    height: 1024px;
    transform: translateX(-100%);
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1151px;
  }
  .logo-header {
    font-size: 20px;
    padding: 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
  }
  .current::after {
    content: '';
    width: 8px;
    position: absolute;
    left: 17px;
    bottom: -10px;
    height: 8px;
    background-color: #404bbf;
    border-radius: 50%;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #747bff;
  }
  .header-socials-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .header-socials-icon {
    fill: black;
    opacity: 0.8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-socials-item {
    width: 36px;
    height: 36px;
  }

  .header-socials-link {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-socials-link:hover .header-socials-icon,
  .header-socials-link:focus .header-socials-icon,
  .header-socials-link:active .header-socials-icon {
    fill: #3350e9;
  }
}
