.hero-container {
  margin: 0 auto;
  max-width: 335px;
  margin-bottom: 60px;
}

.hero-first-wrapper {
  margin-bottom: 28px;
}

.hero-text-wrapper {
  margin-bottom: 28px;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
  margin-top: 60px;
}

.styled {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero-team-picture {
  display: block;
  width: 108px;
  height: 44px;
}

.hero-scroll-link {
  align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-link:hover,
.hero-scroll-link:focus,
.hero-scroll-link:active {
  color: #3350e9;
}

.hero-second-picture {
  width: 335px;
  height: 336px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-container,
  .hero-first-wrapper,
  .hero-second-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 704px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .hero-first-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero-text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 557px;
    margin-bottom: 0;
  }
  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-link-picture {
    margin-top: 80px;
}

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 480px;
  }

  .hero-link-wrapper {
    flex-direction: column;
  }

  .hero-team-picture {
    width: 136px;
    height: 60px;
  }

  .hero-scroll-link {
    font-size: 20px;
    line-height: 1;
  }

  .hero-second-picture {
    display: block;
    width: 704px;
    height: 520px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1150px;
    margin-bottom: 100px;
  }

  .hero-text-wrapper {
    max-width: 597px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.88;
  }

  .hero-team-picture {
    width: 146px;
    height: 60px;
  }

  .hero-second-picture {
    display: block;
    width: 1150px;
    height: 500px;
  }
}