.sale {
  margin-top: 60px;
  margin-bottom: 60px;
}

.sale-container {
  margin: 0 auto;
}

.sale-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.sale-gallery {
  display: flex;
  gap: 5px;
}

.sale-gallery-minwatch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 14px;
  border-radius: 16px;
  background-color: #f3f3f3;
}

.sale-big-img {
  background-color: #f3f3f3;
  padding: 50px;
  border-radius: 30px;
}

.sale-content {
  border-radius: 30px;
  background-color: #3350e9;
  padding: 48px 28px;
}

.sale-content-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-content-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-prices {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 28px;
}

.sale-price-new {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
}

.sale-price-old {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-content-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-content-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 400px;
}

.sale-btn {
  display: flex;
}

.sale-btn-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: #fbfbfb;
  padding: 7px 12px;
  border-radius: 8px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .sale-container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .sale {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .sale-container {
    width: 704px;
  }

  .sale-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
  }
  .sale-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .sale-gallery {
    flex-direction: column;
    gap: 10px;
  }

  .sale-gallery-minwatch {
    padding: 16px 18px;
    border-radius: 20px;
  }

  .sale-big-img {
    border-radius: 50px;
    padding: 80px 112px;
  }
  .sale-content {
    border-radius: 50px;
    padding: 60px;
  }

  .sale-content-title {
    font-size: 32px;
    line-height: 1.125;
  }

  .sale-prices {
    margin-bottom: 30px;
  }

  .sale-price-new {
    font-size: 20px;
    line-height: 1;
  }

  .sale-content-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .sale {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .sale-container {
    flex-wrap: nowrap;
    width: 1150px;
  }

  .sale-big-img {
    padding: 80px 50px;
    border-radius: 30px;
    margin-right: 20px;
  }

  .sale-content {
    max-width: 530px;
  }

  .sale-content-title {
    font-size: 32px;
    line-height: 1.125;
  }
}
